mixin picture(name, sourceImage, price)
    article.imagen
        img(src=sourceImage,border='1')
        br
        | #{name}
        br
        | #{price}€
        br
        center
        input.boton(type='button',value='Comprar',onclick="comprar('#{name}', '#{price}');")
